body {
    background-color: #f6fbef;
    font-family: "Fredoka", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.note {
    margin: 0;
}

#cards {
    height: 50vh;
}
.welcome__line {
    height: 410px;
    border-left: 2px solid #6d6e71;
}
.welcome__banner {
    margin: 15px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: large;
    color: #363435;
}

.welcome img {
    width: 380px;
    height: 260px;
}

form,
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form .buttons {
    display: flex;
    gap: 10px;
    align-self: center;
}
form h2,
.welcome__banner {
    color: #363435;
}

#error {
    color: crimson;
    width: 180px;
    margin: 0;
}

#ngo-check {
    margin-right: 10px;
}

.welcome-link {
    align-self: center;
    cursor: pointer;
}

.find-users {
    width: 80px;
}

nav,
footer {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    align-self: flex-start;
    background-color: #86c1e3;
}

.welcome_message {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #61b99a;
    justify-content: center;
}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
}

.nav-left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right a,
.nav-left a {
    color: #363435;
    text-decoration: none;
}

nav .logo,
.profile-pic {
    width: 80px;
    height: 80px;
    padding: 15px;
    overflow: hidden;
}

.profile-component {
    background-color: #77cde8;
    margin: 5vw;
    display: flex;
}

.profile-component img {
    width: 200px;
    height: 200px;
}

.profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 25px;
}
.profile h1 {
    margin: 0;
}

.profile textarea {
    height: 50%;
    width: 80%;
}

.profile .buttons {
    display: flex;
    gap: 10px;
}

.component-container {
    background-color: #77cde8;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.component-container input {
    height: 30px;
    width: 230px;
    border: none;
    font-size: 1.3vw;
    margin-left: 10px;
}

.results {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    display: flex;
    align-items: center;
    gap: 10px;
}

.result__img {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.result__text {
    font-size: 20px;
    text-decoration: none;
    color: #363435;
}

.chat-container {
    align-items: flex-start;
    gap: 10px;
}

.messages {
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.add-message {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-message button {
    width: 88px;
}
.add-message textarea {
    width: 300px;
}

.message {
    display: flex;
}

.message_text {
    margin: 0;
}

.commenter {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-decoration: none;
    color: #363435;
    min-width: 100px;
    max-width: 100px;
}

.commenter p {
    margin: 0;
}

.commenter__img {
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.commenter__name {
    text-decoration: none;
    color: #363435;
}

.uploader {
    position: absolute;
    z-index: 1;
    left: 31vw;
    width: 358px;
    height: 130px;
    padding: 40px;
    background-color: #76c8e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploader form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.uploader button {
    border: 0px;
    font-size: 1rem;
}

.close-button {
    width: 40px;
    padding: 15px;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}

.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-label {
    width: 100px;
    margin: 10px;
    border: 2px dashed #363435;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-link {
    width: 100px;
    margin: 10px;
    border: 2px dashed #32715b;
    color: #32715b;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#file-delete {
    width: 100px;
    margin: 10px;
    border: 2px dashed #dc4c3f;
    color: #dc4c3f;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    height: 40px;
}

footer p {
    margin: 20px;
}

menu {
    width: 30vw;
    align-self: flex-start;
}

.ngo-area {
    display: flex;
}

.ngo-area__main {
    width: 70vw;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
