body {
    background-color: #f6fbdd;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.note {
    margin: 0;
}

.welcome__line {
    height: 410px;
    border-left: 2px solid #6d6e71;
}
.welcome__banner {
    margin: 15px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: large;
    color: #363435;
}

.welcome img {
    width: 410px;
    height: 270px;
    box-shadow: 5px 5px 15px 5px grey;
}

.welcome-link {
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: #363435;
}

nav {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    align-self: flex-start;
    background-color: #9ccde9;
}

.welcome_message {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #539e83;
    justify-content: center;
}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 40px;
}

.nav-left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right a,
.nav-left a {
    color: #363435;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

nav .logo,
.profile-pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.uploader {
    position: absolute;
    z-index: 1;
    left: 31vw;
    width: 358px;
    height: 130px;
    padding: 40px;
    background-color: #76c8e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploader form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.uploader button {
    border: 0px;
    font-size: 1rem;
}

.close-button {
    width: 40px;
    padding: 15px;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}

.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-label {
    width: 100px;
    margin: 10px;
    border: 2px dashed #363435;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#file-link {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 2px dashed #32715b;
    color: #32715b;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#file-delete {
    width: 100px;
    margin: 10px;
    height: 30px;
    border: 2px dashed #dc4c3f;
    color: #dc4c3f;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#file-update {
    width: 100px;
    margin: 10px;
    height: 30px;
    border: 2px dashed;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #9ccde9;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 20px;
}

menu {
    width: 20%;
    align-self: flex-start;
}

.ngo-area {
    display: flex;
}

.ngo-area__main {
    margin-bottom: 100px;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

::placeholder {
    color: grey;
    opacity: 0.5;
}

#ngo-reg {
    margin-left: 300px;
}

#registration-basic {
    width: 400px;
}
.auth {
    padding: 10px;
}

form,
.form {
    display: flex;
    flex-direction: column;
}

.form .buttons {
    display: flex;
    align-self: center;
    gap: 10px;
    margin-top: 15px;
}

.login-buttons {
    display: flex;
    align-self: center;
    gap: 10px;
    margin-top: 15px;
}

.buttons {
    margin-bottom: 70px;
}

.upload-box {
    display: flex;
    align-self: center;
    gap: 10px;
    align-items: center;
}

#form-header {
    color: #363435;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 0;
}

#description {
    height: 70px;
}
#error {
    color: crimson;
    width: 400px;
    margin: 0;
}

.form-style-5 {
    max-width: 500px;
    border-radius: 8px;
    width: 280px;
}
.form-style-5 fieldset {
    border: none;
}

.form-style-5 label {
    display: block;
    padding: 15px;
    padding-left: 10px;
}
.form-style-5 input,
.form-style-5 textarea,
.form-style-5 select {
    border: none;
    color: #363435;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: white;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.form-style-5 select {
    -webkit-appearance: menulist-button;
    height: 35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 button[type="submit"] {
    position: relative;
    display: block;
    color: #fff;
    margin: 0 auto;
    background: #61b99a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    width: 90px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

.form-style-5 input[type="reset"] {
    position: relative;
    display: block;
    color: #fff;
    margin: 0 auto;
    background: #dc4c3f;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    width: 90px;
    height: 40px;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
    background: #109177;
}

.checkbox-div {
    display: flex;
    align-items: center;
}

.checkbox-div label {
    width: 80%;
    padding-right: 0;
}

#ngo-check {
    margin-right: 10px;
    width: 20%;
    height: 18px;
}

#reset-link {
    margin-top: 10px;
}

#reset-password-form button {
    margin: 15px;
    align-self: center;
}

#thank-you-4-caring {
    margin-top: 30vh;
}

#social-media {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#social-media input {
    width: 125px;
}

/* #edit-profile {
    background-color: #61b99a;
    width: 150px;
    height: 30px;
    display: flex;
    padding: 10px;
} */

.no-selector {
    width: 160px;
    border-top: 2px solid #f6fbdd;
}

.selector {
    width: 160px;
    border-top: 2px solid #61b99a;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
}

#see-all {
    position: relative;
    display: block;
    color: #fff;
    margin: 0 auto;
    background: #61b99a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-width: 1px 1px 3px;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

#sum-row {
    border-top: solid #61b99a;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#motivation {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.motivation__text {
    width: 600px;
}

.motivation__text h3 {
    margin-left: 230px;
}

.motivation__text-ngo {
    width: 600px;
    margin-bottom: 80px;
}

.motivation__text-ngo h3 {
    margin-left: 70px;
}

.separator {
    width: 80px;
    border-top: 2px solid #61b99a;
}

@media screen and (min-width: 1800px) {
    body {
        font-size: 2rem;
    }
    footer {
        height: 80px;
    }
    .welcome-link {
        font-size: 2rem;
    }
    .nav-right a,
    .nav-left a {
        font-size: 1.8rem;
    }
    nav {
        height: 120px;
    }
    nav .logo {
        width: 120px;
        height: 120px;
    }
    .nav-right {
        gap: 30px;
    }
    .welcome img {
        width: 690px;
        height: 470px;
    }
    .auth {
        margin-top: 200px;
    }

    .shopping {
        margin-top: 200px;
    }

    .welcome {
        gap: 120px;
    }

    .form-style-5 {
        max-width: 700px;
        width: 450px;
    }

    .form-style-5 input,
    .form-style-5 textarea,
    .form-style-5 select {
        font-size: 1.5rem;
    }

    .form-style-5 button[type="submit"] {
        font-size: 1.5rem;

        width: 120px;
        height: 60px;
    }

    .form-style-5 input[type="reset"] {
        font-size: 1.5rem;
        width: 100px;
        height: 60px;
    }

    #registration-basic {
        width: 500px;
    }
    #social-media input {
        width: 145px;
    }

    #description {
        height: 170px;
    }

    #ngo-reg {
        margin-left: 600px;
    }

    table {
        width: 1500px;
    }
}
